<%- include("../partials/header") %>

<h2>Add New Patient</h2>
<form action="/patients" method="POST">
  <label>Title:
    <select name="title" required>
      <option value="">Select</option>
      <option>Mr</option>
      <option>Mrs</option>
      <option>Miss</option>
      <option>Ms</option>
      <option>Dr</option>
      <option>Prof</option>
    </select>
  </label>

  <label>First Name: <input type="text" name="firstName" required></label>
  <label>Surname: <input type="text" name="surname" required></label>

  <label>Date of Birth: 
    <input type="date" name="dateOfBirth" required max="<%= new Date().toISOString().split('T')[0] %>">
  </label>

  <fieldset>
    <legend>Select Symptoms</legend>
    <% symptomList.forEach(symptom => { %>
      <label>
        <input type="checkbox" name="symptoms" value="<%= symptom.name %>"> 
        <%= symptom.name %> (Risk: <%= symptom.riskValue %>)
      </label><br>
    <% }) %>
  </fieldset>

  <button type="submit">Add Patient</button>
</form>

<%- include("../partials/footer") %>
